<!DOCTYPE html>

<html>
  <head>
    <title>Chatbot</title>
    <link rel="stylesheet" href="/chatbox.css" />
  </head>

  <body>
    <div id="container" class="container">
      <img
        src="https://cdn.pixabay.com/photo/2020/01/02/16/38/chatbot-4736275_960_720.png"
        height="400vh"
        alt="Chatbot clipart"
      />
      <div id="chat" class="chat">
        <div id="messages" class="messages"></div>
        <input
          id="input"
          type="text"
          placeholder="Write something..."
        />
      </div>
    </div>
    <script src="/chatbox.js"></script>
  </body>
</html>
